<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/dist/output.css" type="text/css">
        <title>About Me - Jerry Jin</title>
        <meta name="description" content="Hi I am Jerry. This site will guide you through my interests in maths and other things. Enjoy!">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body class="font-sans bg-[#F8FAFC] text-[#222222] flex flex-col justify-center">
        <div class="bg-gray-200 h-3 sticky top-0">
            <div class="distance-bar h-full bg-gradient-to-r from-[#049CB7] to-[#3DD9BD] transition-all ease-out"></div>
        </div>
        <div class="flex justify-center mt-[10vw] xl:mt-32">
            <div class="w-[384px] md:w-[50vw] xl:w-[640px]">
                <p class="text-xs text-gray-500 font-medium pl-[5px] mb-3">ABOUT ME</p>
                <h1 class="animate-fade-in-from-bottom font-extrabold text-9xl">hi.</h1>
                <h2 class="animate-fade-in-from-bottom del font-semibold text-7xl text-transparent bg-clip-text bg-gradient-to-r from-[#049CB7] to-[#3DD9BD]">about me</h2>
                <img class="rounded-xl my-16" src="https://media.digistormhosting.com.au/cgs-au-vic-256-website/content/_facebookImage/972/Copy-of-DJI_0006.jpg?mtime=20190122142424">
                <p class="text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati harum reiciendis quod dolorem adipisci voluptates deleniti iste, odio necessitatibus at explicabo animi vitae ipsam, nulla dolorum magni error, laborum commodi!</p>
                <br>
                <p class="text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati harum reiciendis quod dolorem adipisci voluptates deleniti iste, odio necessitatibus at explicabo animi vitae ipsam, nulla dolorum magni error, laborum commodi!</p>
                <br>
                <p class="text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati harum reiciendis quod dolorem adipisci voluptates deleniti iste, odio necessitatibus at explicabo animi vitae ipsam, nulla dolorum magni error, laborum commodi!</p>
                <br>
                <p class="text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati harum reiciendis quod dolorem adipisci voluptates deleniti iste, odio necessitatibus at explicabo animi vitae ipsam, nulla dolorum magni error, laborum commodi!</p>
                <br>
                <p class="text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati harum reiciendis quod dolorem adipisci voluptates deleniti iste, odio necessitatibus at explicabo animi vitae ipsam, nulla dolorum magni error, laborum commodi!</p>
                <br>
                <p class="text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati harum reiciendis quod dolorem adipisci voluptates deleniti iste, odio necessitatibus at explicabo animi vitae ipsam, nulla dolorum magni error, laborum commodi!</p>
                <br>
            </div>
        </div>
        <script src="/src/scripts/distanceBar.js"></script>
    </body>
</html>